<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd


           http://code.alibabatech.com/schema/dubbo
           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--载入使用到的配置文件-->
    <!--<context:property-placeholder location="classpath:dubbo2.properties" ignore-unresolvable="true"/>-->

    <!--注册中心配置-->
    <dubbo:registry port="2181" address="zookeeper://192.168.20.10:2181"/>
    <!--应用信息配置-->
    <dubbo:application name="product-service" owner="Tan"/>
    <!--服务提供者协议配置-->
    <dubbo:protocol name="dubbo" port="20880"/>
    <!--服务提供者缺省值配置(全局配置负载均衡策略为轮询)-->
    <dubbo:provider loadbalance="roundrobin" delay="-1"/>
    <!--服务消费者缺省值配置-->
    <dubbo:consumer loadbalance="roundrobin" check="false" timeout="5000"/>

</beans>
